@model GigaVistor.Models.TarefaModel

@{
    ViewData["Title"] = "CreatePage";
}

<h1>CreatePage</h1>

<h4>TarefaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdResponsavel" class="control-label">Reponsável Pela Tarefa</label>
                <select asp-for="IdResponsavel" class="form-control">
                    @foreach (var item in ViewBag.Funcionarios)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="IdResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSetor" class="control-label">Setor</label>
                <select asp-for="IdSetor" class="form-control">
                    @foreach (var item in ViewBag.Setores)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="IdSetor" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdAuditoria" class="control-label"></label>
                <input asp-for="IdAuditoria" class="form-control" value="@ViewBag.AuditoriaId" />
                <span asp-validation-for="IdAuditoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
