@{
    ViewData["Title"] = "ShowAuditoria";
}

<h1>Realizar Auditoria</h1>

<div class="mainDivContentShow">
    @foreach (var item in ViewBag.Tarefas)
    {
        <div class="mainElementSelection taskShow" style="height:400px">
            <h3 class="titleSection">
                @item.Name
            </h3>

            <div class="taskDescripField">
                <p>Descrição da tarefa:</p>
                <span class="auditoriaSection">
                    @item.Descricao
                </span>
            </div>


            <div class="taskStatusField">
                <p>Status:</p>
                <select>
                    @if (item.Status == 0)
                    {
                        <option value="0" selected>Não Realizada</option>
                    }
                    else
                    {
                        <option value="0">Não Realizada</option>
                    }
                    @if (item.Status == 1)
                    {
                        <option value="1" selected>Incompleta</option>
                    }
                    else
                    {
                        <option value="1">Incompleta</option>
                    }
                    @if (item.Status == 2)
                    {
                        <option selected value="2">Completada</option>
                    }
                    else
                    {
                        <option value="2">Completada</option>
                    }
                </select>
            </div>

            <div class="taskNotesField">
                <p>Notas:</p>
                <span>
                    @item.NotasQualidade
                </span>
            </div>

            <div class="taskResponsiblebutton">
                <p>Responsável:</p>
                <select>
                    @foreach (var user in ViewBag.Usuarios)
                    {
                        @if (user.Id == item.Id)
                        {
                            <option selected value="@user.Id">@user.Nome</option>
                        }
                        else
                        {
                            <option value="@user.Id">@user.Nome</option>
                        }
                    }
                </select>
            </div>

            <div class="btnFoooterTask">
                <button class="btn buttonFooterElement">
                    Escalar
                </button>

                <button onclick="TarefaAuditoriaShow(@item.Id)" class="btn buttonFooterElement">
                    Finalizar
                </button>
            </div>
        </div>
    }
</div>

