@model GigaVistor.Models.TemplateModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Data de Criação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar aos Template</a>
</div>





<div class="funcionariosDiv">

    <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <h2 style="margin-bottom: 20px;">
            Lista de Tarefas do template
        </h2>        
    </div>



    <div class="funcionariosDivMain">
        @foreach (var item in ViewBag.Tarefas)
        {
            
                <div class="funcionariosDivUni">
                    <h3>
                        @item.Name
                    </h3>

                    <div>
                        <label>Descrição:</label>
                        <p>
                            @item.Descricao
                        </p>
                    </div>
                </div>          

        }
    </div>
</div>